#footer{
    background:red;
    height:100px;
    background:#eee;
    /*border-top:20px solid #eee; */
    border-top:20px solid #504E4E;
    margin-top:70px;
    padding-top:20px;
}
#mainContent{

        min-height:70vh;
}
